<div class="row item">
    <div class="span2">
        <%=  path = memory.image_url.to_s
        if path == ""
        image_tag "placer.png"
        else
        link_to (image_tag path, :size => "200x50", :class => "foto-ricordo"), senior_memory_path(@senior, memory)
        end
        %>
    </div>


    <div class="span5">
        <div class="row span5 blue_text titolo">
            <%= link_to memory.titolo.to_s.upcase, senior_memory_path(@senior, memory) %>

            <div class="info" style="float:right">
                &nbsp; <%= memory.data.to_time.strftime('%B %e %Y') %>
            </div>
        </div>

        <div class="row span5"> <%= memory.testo[0..300] %></div>


        <div class="row span5 command">
            <%= link_to (image_tag "edit.png", :size => "27x32"), edit_senior_memory_path(@senior, memory) %>  &nbsp;
            <%= link_to (image_tag "eye.png", :size => "30x32"), senior_memory_path(@senior, memory) %>
            <%= link_to (image_tag "trash.png", :size => "35x32"), senior_memory_path(@senior, memory), :confirm => 'Sei sicuro di voler cancellare questo ricordo?', :method => :delete %>


        </div>

    </div>
</div>